#cards-h2,
h3 {
  display: flex;
  justify-content: center;
}
#card-text {
  text-align: center;
  margin-top: 15px;
}

@media screen and (min-width: 1000px) {
  .cardSection {
    display: inline-flex;
    justify-content: space-between;
  }
}

/* hi */
