.banner-container {
    background-color: rgb(226, 151, 12);
    height: 150px;
    width: auto;
  }
  .consultation {
    font-size: 1.2rem;
    font-weight: 600;
  }
  #phone-number {
    color: white;
  }
  .title {
    font-size: 2.3rem;
  }

   @media screen and (min-width: 1024px) {

    .banner-container{
      background-image: url("/images/hero-desktop.png");
      background-color: rgb(226, 151, 12);
      height: 150px;
      width: 200px;
    }
  }