.banner-container {
  background-color: rgb(226, 151, 12);
  height: 160px;
  width: auto;
}
.consultation,
a {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
#phone-number {
  color: white;
}
.title {
  font-size: 2.3rem;
}
.hero-img {
  width: 400px;
  height: 400px;
}

.consultation {
  background-color: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.consultation:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.785);
}

@media screen and (min-width: 1024px) {
  .hero-banner {
    display: flex;
    float: left;
    width: auto;
    margin-left: 0;
    margin-right: 10px;
    margin-left: 8em;
  }

  .banner-container {
    background-image: url("/images/hero-desktop.png");
    background-color: rgb(226, 151, 12);
    height: 150px;
    width: 350px;
  }
}
